# ======================
# Backend
# ======================
# Contraseña de PostgreSQL
DB_USER=postgres
DB_NAME=gestionIES
DB_PASSWORD=miPassword

# CORS para frontend
ALLOWED_ORIGINS=http://localhost:5173,https://localhost:5173,https://192.168.1.16

# URL servidor LDAP
LDAP_URL=ldap://url:389

# ======================
# Frontend VITE variables
# ======================
# URL del backend para frontend
VITE_API_URL=https://localhost:5000/api
VITE_SERVER_URL=https://localhost:5000
VITE_APP_NAME=miIES
VITE_IES_NAME=Nombre Centro
VITE_DIRECCION_LINEA_1=
VITE_DIRECCION_LINEA_2=
VITE_DIRECCION_LINEA_3=
VITE_DIRECCION_LINEA_4=
VITE_DIRECCION_LINEA_5=
